/* css > company > position > add.css */

/* section-header  */

.section-header {
    width: 1100px;
    margin: 30px auto;
    border-bottom: 1px solid #CCC;
    padding: 20px 10px;
    /* font-size: 1.3em; */
    line-height: 100px;
}

.section-header .btn{
    font-size: 1.3em;
    margin-top: 20px;
    margin-left: 5px;
}


/* section-body */

.section-body {
    padding: 15px;
    border-bottom: 1px solid #ccc;
}


.section-body .row {
    padding: 10px 0;
    margin-bottom: 20px;
}

.section-body .title {
    font-size: 1.2em;
    font-weight: bold;
    line-height: 30px;
}


/* section-footer */

.section-footer {
    padding: 15px;
    text-align: center;
}



/* modal */

.modal-body {
    padding: 20px 40px;
}

.modal-body .row{
    padding: 10px;
    margin-bottom: 30px;
    border: 1px solid black;
}

.modal-body .title {
    font-size: 1.2em;
    font-weight: bold;
    margin-bottom: 15px;
}

.label {
    float: left;
    margin-right: 5px;
    margin-bottom: 5px;
    padding: .8em;
    font-size: .9em;
    border-radius: 1rem;
}

.remove {
    color: black;
    vertical-align: center;
}


.tag {
    padding: 20px;
    /* background-color: rgb(231, 230, 230); */
}

