/* css > company > position > view.css */

/* section-header  */

.section-header {
    width: 1100px;
    margin: 30px auto;
    border-bottom: 1px solid #CCC;
    padding: 20px 10px;
    /* font-size: 1.3em; */
    line-height: 100px;
}

.section-header .btn{
    font-size: 1.3em;
    margin-top: 20px;
    margin-left: 5px;
}



/* section-body */

.section-body {
    /* width: 70%; */
    padding: 20px;
    border-bottom: 1px solid #CCC;
    margin-bottom: 20px;
}

.section-body div{
    margin-bottom: 15px;
}


.section-body .section-image {
    width: 800px;
    height: 600px;
    border: 1px solid black;
    margin-bottom: 20px;
    /* background-image: url('/yaneodo/images/company/matchup_image.jpg'); */
}

.section-body .title {
    font-size: 2.5em;
    font-weight: bold
}

.section-body .subtitle {
    font-size: 1.4em;
    
}

.section-body .tag {
    margin: 15px 0px;
    left: 0in;
    
}

.section-body .label {
    padding: .7em;
    border-radius: 1rem;

}

/* 부트스트랩 .label*/

/* .label {
    display: inline;
    padding: .2em .6em .3em;
    font-size: 75%;
    font-weight: bold;
    line-height: 1;
    color: #fff;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    border-radius: .25em;
  } */

.section-body .content {
    width: 75%;
    margin: 15px 0;
    text-align: justify;
}

.section-body .detail {
    font-size: 15px;
}



/* section-footer */

.section-footer {
    padding: 30px;
    text-align: center;
    margin-bottom: 100px;
}