/*기본*/


@font-face {
font-family: 'Jal_Onuel';
src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-10-21@1.0/Jal_Onuel.woff') format('woff');
font-weight: normal;
font-style: normal;
}
 
@font-face {
    font-family: 'Wemakeprice-Regular';
    src:
       url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-10-21@1.0/Wemakeprice-Regular.woff')
       format('woff');
    font-weight: normal;
    font-style: normal;
 }
 
    html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
        margin: 0;
        padding: 0;
        border: 0;
    }
    body, p, div, span, ul, li, dl, dt, dd, table, th, td, a, blockquote, input, textarea, fieldset, h1, h2, h3, h4, h5, h6, small, strong, b, i, em {
        font-family: 'Jal_Onuel';
        /* color: #555555; */
        /* line-height: 1.5em; */
        /* font-size: 15px; */
    }



    html{
        background-color: #F8F8FA;
    }

    html>body {
        overflow-y: scroll;
        height: 100%;
        background-color: #F8F8FA;
    }

    div {
        padding: 0;
    }

    input[type="text"], textarea {
        box-shadow: none !important;
        -moz-appearance: none;
        -webkit-appearance: none;
        resize: none;
        border: 0px ; 
        /* outline: none ; */
    }

    input:focus {
        outline: none ;
        box-shadow: none ;
    }


    input {
        -webkit-writing-mode: horizontal-tb !important;
        text-rendering: auto;
        color: -internal-light-dark(black, white);
        letter-spacing: normal;
        word-spacing: normal;
        text-transform: none;
        text-indent: 0px;
        text-shadow: none;
        display: inline-block;
        text-align: start;
        appearance: textfield;
        background-color: -internal-light-dark(rgb(255, 255, 255), rgb(59, 59, 59));
        -webkit-rtl-ordering: logical;
        cursor: text;
        margin: 0em;
        font: 400 13.3333px Arial;
        padding: 1px 2px;
        border-width: 2px;
        border-style: inset;
        border-color: -internal-light-dark(rgb(118, 118, 118), rgb(133, 133, 133));
        border-image: initial;
        outline: none !important;
        }
/*customer header CSS*/
/*헤더메뉴*/
#logo{
            
    color: blueviolet;
    font-weight: bold;
    margin-right: 50px;
   font-size: 1.2em;
}
#headerContainer{
    width: 100%;
    height: 50px;
    line-height: 50px;
    margin: 0px auto;
    position:fixed;
    left: 0;
    top: 0;
}

#nav .menuLink {
    color: black;
    cursor: pointer;
    text-decoration: none;
    font-size: 15px;
}
#nav .menuLink:hover {
    color: black;
    padding-bottom: 13px ;
    border-bottom: 5px solid blueviolet;
}

#nav .menuLink2 {
    color: black;
    cursor: pointer;
    text-decoration: none;
    font-size: 15px;
    margin-left: -30px;
}
#nav .menuLink2:hover {
    color: black;
    padding-bottom: 13px ;
    
}

#nav{
    width: 100%;
    background-color: white;
    margin: 0px auto;
}

#nav ul{
	background-color: white;
    width: 1200px;
    margin: 0px auto;
}

#nav li{
     margin-left: 40px;
    float: left;
    list-style: none;

}



#nav #search {
  margin-left:70px;
}

#nav #bservice{
    margin-left: 30px;
    padding:10px 30px;
    border:1px solid #F8F8FA;
    border-radius: 30px;
}

.searchButton{
    margin-left: 30px;
    background-color: white;
    border: 0px;
    outline: none;
}

.headerPhoto{
    cursor: pointer;
    width: 30px;
    height: 30px;
    margin: 0 auto;
    border-radius: 50%;
    margin-top: 10px;
     margin-left:-20px; 
  /*  background-image: url("/project/pic/man_06.png");  */
    background-repeat: none;
    background-size: 30px;
}
#myMenu{
    padding-top: 10px;
    position: relative;
    top: -90px;
    left: 800px;
    min-width: 170px;
    border: 1px solid #e1e2e3;
    width: 130px;
    height: 400px;
    background-color: white;
    box-shadow: 4px 4px 4px #e1e2e3;
    margin: 0px;
    
    
}
#myMenu li:nth-child(3), #myMenu li:nth-child(7) {
    padding-top: 10px;
    border-top: 1px solid #e1e2e3;
    margin-top: 9px;
}
#myMenu li{
    /* width: 100%; */
    height: auto;
    list-style: none;
    
}
#myMenu li a {
    text-align: center;
    /* display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center; */
    /* padding-top: 7px;
    padding-bottom: 7px; */
    /* font-weight: 400; */
    font-size: 15px;
    color: #333;
    position: relative;
    display: block;
    width: 100%;
    /* padding-right: 15px;
    padding-left: 15px; */
}
#myMenu li a:hover{
    text-decoration: none;
    background-color: #eee;
}

        .borderLine{
            border: 1px solid blue  !important;
        }


/*-------------------------------header CSS END ---------------------------*/
       
      
        /*메인내용*/
        .container{
            width:1050px;
            margin: 0px auto;
            padding-top: 90px;
            padding-left: 0px;
            padding-right: 0px;
        }
        .title{
            margin: 20px 30px;
            font-weight: bold;
            font-size: 18px;
        }
