@charset "UTF-8";

	@font-face {
	    font-family: 'Jal_Onuel';
	    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-10-21@1.0/Jal_Onuel.woff') format('woff');
	    font-weight: normal;
	    font-style: normal;
	}
	
	@font-face {
	    font-family: 'Wemakeprice-Regular';
	    src:
	       url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-10-21@1.0/Wemakeprice-Regular.woff')
	       format('woff');
	    font-weight: normal;
	    font-style: normal;
	 }
	
	body, p, div, span, ul, li, dl, dt, dd, table, th, td, a, blockquote, input, textarea, fieldset, h1, h2, h3, h4, h5, h6, small, strong, b, i, em {
	    font-family: 'Jal_Onuel';
	    /* font-family: 'Wemakeprice-Regular'; */
	    /* color: #555555; */
	    /* line-height: 1.5em; */
	    font-size: 15px;
	}
	
	
	html {
	   position: relative;
	   left: 0;
	   top: 0;
	   min-height: 100%
	    
	}
	
	html, body {
	   padding: 0;
	   margin: 0;
	   background: #EEEEEE;   
	}
	
	body {
	   overflow-y: scroll;
	    height: 101%;
	}
	
	div {
	    padding: 0;
	}
	
	/* 기본 */
	
	
	body {
	    background-color: #ebebeb;
	}
	
	#outline {
	     width: 1110px;
	     height:910px;
	     margin : -10px auto;
	}
	
	
	
	#headerContainer {
	    color: white;
	    margin: 0;
	}
	
	#container {
	    width: 1100px;
	    height: 900px;
	    margin: 0 auto;
	    color: black;
	}
	
	#header {
	    min-width: 1100px;
	    height: 50px;
	    line-height: 50px;
	    background-color: #B6B7D3;
	}
	
	#header #logo {
	    float: left;
	}
	
	#header #aside {
	    float: right;
	}
	
	#nav {
	    margin: 0;
	    min-width: 1100px;
	    height: 50px;
	    line-height: 47px;
	    background-color: #9a9cd1;
	}
	
	ul, li{
	    padding: 0;
	    margin: 0;
	}
	
	#nav li {
	    float: left;
	    list-style: none;
	    margin-left: 20px; 
	}
	
	#nav li:hover {
	    cursor: pointer;
	    border-bottom: 3px solid #3d42d1
	}
	
	
	
	#side {
	    float: left;
	    width: 200px;
	    height: 920px;
	    line-height: 50px;
	    background-color: #FFFFFF;
	    border-right: 1px solid #CCCCCC;
	}
	
	#side li {
	    list-style: none;
	    height: 25px;
	    margin-left: 20px;
	}
	
	#side .sideName {
	    border-bottom: solid 1px #CCCCCC;
	    padding-bottom: 5px;
	}
	
	.sideGroup {
	    margin-bottom: 20px;
	    padding: 20px;
	}
	
	.sideName:hover {
	    cursor: pointer;
	}
	
	#side .side-list-item:hover {
	    cursor: pointer;
	    font-weight: 1.2em;
	}
	
	#side .side-list-item-selected {
	    color: #3d42d1;
	    font-weight: 30px;
	}
	
	#content {
	    float: left;
	    width: 884px;
	    height: 900px;
	    line-height: 50px;
	    background-color: #FFFFFF;
	    padding: 10px;
	    
	    
	}
	
	#content #info {
	    border-bottom: 1px solid #CCCCCC;
	}
	
	#content div {
	    margin-bottom: 20px;
	}




