/* 공통 main css */
@font-face {
	font-family: 'Jal_Onuel';
	src:
		url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-10-21@1.0/Jal_Onuel.woff')
		format('woff');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Wemakeprice-Regular';
	src:
		url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-10-21@1.0/Wemakeprice-Regular.woff')
		format('woff');
	font-weight: normal;
	font-style: normal;
}

body, p, div, span, ul, li, dl, dt, dd, table, th, td, a, blockquote,
	input, textarea, fieldset, h1, h2, h3, h4, h5, h6, small, strong, b, i,
	em {
	/* font-family: 'Jal_Onuel'; */
	font-family: 'Wemakeprice-Regular';

	/* color: #555555; */
	/* line-height: 1.5em; */
	/* font-size: 15px; */
}

/* html {
	position: relative;
	left: 0;
	top: 0;
	min-height: 100%
} */
html, body {
	padding: 0;
	margin: 0;
	background-color: #FFFFFF;
}

body {
	overflow-y: scroll;
	height: 101%;
}

div {
	padding: 0;
}

input, input:focus {
	outline: none !important;
	box-shadow: none !important
}

input[type="text"], textarea {
	box-shadow: none !important;
	-moz-appearance: none;
	-webkit-appearance: none;
	resize: none
}

button, .btn-group, .open, .dropdown-toggle, .btn {
	box-shadow: none !important;
	outline: none !important;
}

/* 기본 */


body {
    background-color: #ffffff;
}

#headerContainer {
    color: white;
    width: 100%;
    background-color: #1a1a1d;
}

/* 내용부분 전체 컨테이너 */
#container {
    width: 1100px;
    height: 100%;
    margin: 0 auto;
    color: black;
}

/* header 부분 */

#header {
    color: white;
    width: 1100px;
    height: 50px;
    line-height: 50px;
    background-color: #1a1a1d;
    margin: 0 auto;
}


#header #logo {
    float: left;
    margin-left: 20px;
    font-size: 1.2em;
}

#header #aside {
    float: right;
    padding: 10px;
    position: relative;
}

#header #aside div {
    float: left;
    margin-right: 10px;
    vertical-align: middle;
}

#header #aside .notice {
    font-size: 1.2em;
    margin-left: 5px;
}


/* 이미지 컨테이너 */
#header .pic {
    position: relative;
    right: 15px;
    top: 5px;
    border-radius: 100%;
    border: 1px solid #CCCCCC;
    width: 30px;
    height: 30px;
    overflow: hidden;
}

/* 이미지 */
#header .pic img {
    position: absolute;
    width: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    /* object-fit: cover; */
}


/* 드롭 다운 메뉴 */

#company-dropdown {
    position: absolute;
    background: #ffffff;
    top: 50px;
    left: 15px;
    opacity: 0;
    visibility: hidden;
    transition: all 0.15s ease-in;
    border: 1px solid #ccc;
  }
  
  #company-dropdown  li {
    list-style: none;
    width: 110px;
    height: 40px;
    text-align: center;
    /* padding: 16px 28px; */
    /* border-bottom: 1px solid rgba(0,0,0,0.15); */
  }
  
  #company-dropdown > li >  a {
    color: #000000;
    text-decoration: none;
  }

  #aside > .mypage:hover > div > #company-dropdown {
    opacity: 1;
    visibility: visible;
  }
  
  #company-dropdown > li >  a:hover {
   text-decoration: underline;
  }

/* 알람 메뉴 */

#company-notice {
    position: absolute;
    background: #ffffff;
    top: 55px;
    left: 15px;
    opacity: 0;
    visibility: hidden;
    transition: all 0.15s ease-in;
    border: 1px solid #ccc;
  }
  
  #company-notice  li {
    list-style: none;
    width: 250px;
    height: 40px;
    text-align: center;
    vertical-align: middle;
    padding-bottom: 10px;
    border-bottom: 1px solid rgba(0,0,0,0.15);
  }
  
  #company-notice > li >  a {
    color: #000000;
    text-decoration: none;
  }

  #aside > .notice:hover > div > #company-notice {
    opacity: 1;
    visibility: visible;
  }
  
  #company-notice > li >  a:hover {
   text-decoration: underline;
  }
/* nav 부분 */
#nav {
	width: 1100px;
	margin: 0 auto;
	height: 50px;
	line-height: 47px;
	background-color: #1a1a1d;
}

#nav a:link {
	color: white;
	text-decoration: none;
}

#nav a:visited {
	color: white;
	text-decoration: none;
}

#nav a:hover {
	color: white;
	text-decoration: none;
}

ul, li {
	padding: 0;
	margin: 0;
}

#nav li {
	float: left;
	list-style: none;
	margin-left: 20px;
}

#nav li:hover {
	cursor: pointer;
	border-bottom: 3px solid #ffffff
}

/* 부트스트랩 재정의 */
.container {
	width: 100%;
}

.btn-primary {
	color: white;
	/* background-color: #898bcf; */
	background-color: #2886FA;
	/* background-color: #5782AA; */
	border: #5782AA 1px solid;
	outline: none;
}

.btn-primary:hover {
	/* background-color: #a4a6d4; */
	background-color: #59a4ff;
}

.btn-default {
	color: #555555;
	border: #F4F4F4 1px solid;
	background-color: #F4F4F4;
	outline: none;
}

.btn-default:hover {
	background-color: #a7a7a7;
	color: white;
}

.btn-info {
	color: #2886FA;
	border: #c3c5df 1px solid;
	background-color: #FFFFFF;
	outline: none;
}

.btn-info:hover, .btn-info:focus, .btn-info:active {
	background-color: #b0d2fc;
	color: #2886FA;
}

.form-control:focus {
	border: solid 2px #76b0f8;
}

/* modal */
.modal-title {
	/* border: 1px solid black; */
	
}

.modal-body {
	/* border: 1px solid black; */
	
}

.modal-footer {
	/* border: 1px solid black; */
	
}

.modal .modal-body-title {
	/* margin-top: 20px; */
	margin-bottom: 10px;
}

.modal input, textarea {
	margin-bottom: 40px;
}

/* modal 사이즈 조절 */
.modal-dialog.modal-70size {
	width: 700px;
	height: 70%;
	margin: 0;
	padding: 0;
}

.modal-contetn.modal-70size {
	height: auto;
	min-height: 70%;
}

.modal-dialog.modal-60size {
	width: 600px;
	height: 60%;
	margin: 0;
	padding: 0;
}

.modal-contetn.modal-60size {
	height: auto;
	min-height: 60%;
}

.modal-dialog.modal-80size {
	width: 800px;
	height: 60%;
	margin: 0;
	padding: 0;
}

.modal-contetn.modal-80size {
	height: auto;
	min-height: 60%;
}

/* modal 위치 조절 */
.modal.modal-center {
	text-align: center;
}

@media screen and (min-width: 768px) {
	.modal.modal-center:before {
		display: inline-block;
		vertical-align: middle;
		content: " ";
		height: 100%;
	}
}

.modal-dialog.modal-center {
	display: inline-block;
	text-align: left;
	vertical-align: middle;
}

/* footer */
#footer {
	background-color: #2B2D2E;
	color: #AAA;
	padding: 30px 20px;
}

#center {
	width: 1100px;
	text-align: center;
	position: relative;
	top: 0px;
	left: 0px;
	margin: 0px auto;
}

#info {
	width: 1100px;
	font-size: 12px;
	margin: 0px auto;
	margin-top: 15px;
	padding-left: 0px;
}

#left ul li {
	color: #AAA;
	text-decoration: none;
	margin-right: 30px;
}

ul {
	padding-left: 0px;
}

#right {
	border: none;
	background-color: black;
	font-size: 12px;
	color: white;
	position: absolute;
	right: 10px;
	padding: 5px;
}

#notice:hover {
	color: #CCC;
}

#logo {
	color: blueviolet;
	font-weight: bold;
	font-size: 1.2em;
}

#left ul li, .right {
	float: left;
	list-style: none;
}

#center::after {
	content: "";
	display: block;
	clear: both;
}